{% extends '@EasyAdmin/crud/form_theme.html.twig' %}

{% block _GasStation_googlePlace_id_widget %}
	{{ form_widget(form) }}
	<a href="{{ ea_url() .setController('App\\Admin\\Controller\\GooglePlaceCrudController') .setAction('edit') .setEntityId(form.vars.ea_crud_form.ea_field.value) }}">Link to entity</a>
{% endblock %}

{% block _GasStation_address_id_widget %}
	{{ form_widget(form) }}
	<a href="{{ ea_url() .setController('App\\Admin\\Controller\\AddressCrudController') .setAction('edit') .setEntityId(form.vars.ea_crud_form.ea_field.value) }}">Link to entity</a>
{% endblock %}

{% block _GasStation_gasStationBrand_id_widget %}
	{{ form_widget(form) }}
	<a href="{{ ea_url() .setController('App\\Admin\\Controller\\GasStationBrandCrudController') .setAction('edit') .setEntityId(form.vars.ea_crud_form.ea_field.value) }}">Link to entity</a>
{% endblock %}
